<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofun.springmvc.dao.RoleMenuMapper">
	<resultMap id="BaseResultMap" type="com.sofun.springmvc.pojo.RoleMenu">
		<id column="rm_id" property="rmId" jdbcType="INTEGER" />
		<result column="rm_role_id" property="rmRoleId" jdbcType="INTEGER" />
		<result column="rm_menu_id" property="rmMenuId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		rm_id, rm_role_id, rm_menu_id
	</sql>

	<select id="find" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from role_menu
		where rm_id = #{rmId,jdbcType=INTEGER}
	</select>

	<select id="getByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from role_menu
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from role_menu
		where
		rm_id = #{rmId,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.sofun.springmvc.pojo.RoleMenu">
		insert into role_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rmId != null">
				rm_id,
			</if>
			<if test="rmRoleId != null">
				rm_role_id,
			</if>
			<if test="rmMenuId != null">
				rm_menu_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rmId != null">
				#{rmId,jdbcType=INTEGER},
			</if>
			<if test="rmRoleId != null">
				#{rmRoleId,jdbcType=INTEGER},
			</if>
			<if test="rmMenuId != null">
				#{rmMenuId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.sofun.springmvc.pojo.RoleMenu">
		update role_menu
		<set>
			<if test="rmRoleId != null">
				rm_role_id = #{rmRoleId,jdbcType=INTEGER},
			</if>
			<if test="rmMenuId != null">
				rm_menu_id = #{rmMenuId,jdbcType=INTEGER},
			</if>
		</set>
		where rm_id = #{rmId,jdbcType=INTEGER}
	</update>

</mapper>